//Vars

$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$grey: #666666;
$red: #ff1755;

//Mixins

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

/* Fonts -
regular 400
regular 400 Italic
bold 700
bold 700 Italic
*/

body {
    font-family: 'K2D', sans-serif;
    font-size: 18px;
    color: $black;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    cursor: pointer;
    @include transition(.4s ease-in-out);

    &:hover{
        color: $red;
        @include transition(.4s ease-in-out);
    }
}

header, footer {
    nav,
    nav ul,
    nav ul li{
        margin: 0;
        padding: 0;
    }

    nav{
        position: absolute;
        top: 50%; right: 15px;
        @include translateY(-50%);

        ul li{
            list-style-type: none;
            display: inline-block;
            margin-right: 20px;

            &.last {
                margin: 0;
            }
        }
    }
}

.container-fluid{
    line-height: 24px;
}