@import "_config.scss";

header{
    position: relative;
    display: block;
    width: 100%;
    height: 90px;
    background: $black;
    color: $white;

    .logo{
        position: absolute;
        top: 50%; left: 15px;
        @include translateY(-50%);
        line-height: normal;
        h3{
            position: absolute;
            top: 50%; left: 7.5em;
            @include translateY(-50%);
        }
    }
    a{
        font-size: 19px;
        color: $white;
    }
}
.container-fluid{
    position: relative;
    display: block;
    width: 100%;
    font-size: 1.2em;
    background: $white;
    a{
        line-height: normal;
        color: $black;
    }

    nav{
        position: absolute;
        
        .dropdown{
            position: relative;
            display: inline-block;
        }
        .dropdown-content{
            display: none;
            position: absolute;
            margin-left: 3em;
            min-width: 15em;
            padding: 12px 12px;
            z-index: 1;
        }
        .dropdown:hover .dropdown-content{
            display: block;
            width: 35em;
            @include transition(.4s ease-in-out);
        }
            
    }
    .projectDescription{
        float: right;
        width: 30%;
        font-size: 15px;
        top: 50%; right: 10px;
        @include translateY(20%);
        a{
            font-size: 25px;
        }
    }
    .profileImg{
        position: relative;
        top: 30%; right: 10px;
        @include translateY(-27.5%);
        float: right;
        height: 60%;
        width: 20%;
        
    }
    .projectImg{
        width: 70%;
        height: 70%;
    }
}
footer{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 90px;
    background: $lightGrey;
    color: $black;

    .email{
        position: absolute;
        top: 50%; left: 15px;
        @include translateY(-50%);
        color: $black;
        font-size: 19px;
    }
    p,a{
        font-size: 19px;
        line-height: normal;
        color: $black;
    }
}